<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- 
  optional, add some variables
  see https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="logDir"
            value="logs" />
  <variable name="debugPrefix"
          value="DEBUG" />
  <variable name="errorPrefix"
            value="ERROR" />
  <variable name="commonPrefix"
            value="INFO" />

  <!-- 
  layout-renderers
  see   https://nlog-project.org/config/?tab=layout-renderers
  -->
  <variable name="errorLayout"
        value="${longdate} | ${level:uppercase=true:truncate=3} | ${callsite:className=True:fileName=True:includeSourcePath=False:methodName=True} | ${aspnet-TraceIdentifier} |
           ${newline}${message} 
           ${newline}${stacktrace}${newline}" />

  <variable name="normalLayout"
          value="${longdate} | ${level:uppercase=true:truncate=3} | ${callsite:className=True:fileName=True:includeSourcePath=False:methodName=True} | ${aspnet-TraceIdentifier} |
          ${newline}${message}${newline}"/>
  
  <!--
  the targets to write to
  see https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <!--<targets async="true">-->
  <targets>
    <!--debug log to console-->
    <target xsi:type="ColoredConsole"
            name="logToConsole"
            layout="${normalLayout}"
            useDefaultRowHighlightingRules="true"
            enableAnsiOutput="false"
            DetectOutputRedirected="false"
            />

    <!--all log to file-->
    <target xsi:type="File"
            name="logAllToFile"
            fileName="${logDir}/${shortdate}.LOG"
            keepFileOpen="true"
            layout="${normalLayout}" />
    
   <!--error log to file-->
    <target xsi:type="File"
            name="errToFile"
            fileName="${logDir}/${shortdate}.${errorPrefix}.LOG"
            keepFileOpen="true"
            layout="${errorLayout}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="logToConsole" enabled="true"/>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="logAllToFile" enabled="true"/>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <!--<logger name="Microsoft.*" maxlevel="Info" final="true" enabled="true"/>-->
    <!--  own debug logs-->
    <!--<logger name="*" minlevel="Trace" writeTo="debugToFile" enabled="true"/>-->
    <!--  own error logs-->
    <logger name="*" minlevel="Error" writeTo="errToFile" enabled="true"/>
  </rules>
</nlog>